.signup-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../images/signup-background.jpg");
    background-size: cover;
    background-position: center;
}

.signup-form {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 350px;
}

.signup-form h2 {
    font-family: "Italiana", serif;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.signup-form label {
    display: block;
    margin-bottom: 15px;
    text-align: left;
    font-family: "Arial", sans-serif;
    font-size: 14px;
    color: #555;
}

.signup-form input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
    box-sizing: border-box;
    outline: none;
}

.signup-form input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.signup-button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.signup-button:hover {
    background-color: #218838;
}